<!DOCTYPE HTML>
<html>
  <head>
    <title>AdBlocker - block various ads, protect your privary, speed the websites with less data cost</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="static/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
  </head>
  <body id="top">

    <!-- Header -->
      <header id="header">
        <div class="content">
          <h1><a href="#">AdBlocker</a></h1>
          <p>an ads-blocking app <br />specially designed for iOS 9</p>
          <ul class="actions">
            <li><a href="https://itunes.apple.com/app/id1042171084" class="icon"><img src="static/images/appstore.svg" style="height: 100%;"></img></a></li>
          </ul>
        </div>
        <div class="image phone"><div class="inner"><img src="static/images/screen.png" alt="" /></div></div>
      </header>

    <!-- One -->
      <section id="one" class="wrapper style2 special">
        <header class="major">
          <h2><a href="/instructions/">How to use</a></h2>
          <a href="/instructions/" class="button icon scrolly">Instructions</a>
        </header>
      </section>

    <!-- Two -->
      <section id="two" class="wrapper">
        <div class="inner alt">
          <section class="spotlight">
            <div class="image"><img src="static/images/pic01.png" alt="" /></div>
            <div class="content">
              <h3>Block ads with single tap</h3>
            </div>
          </section>
          <section class="spotlight">
            <div class="image"><img src="static/images/pic02.png" alt="" /></div>
            <div class="content">
              <h3>Block analytics and traces</h3>
            </div>
          </section>
          <section class="spotlight">
            <div class="image"><img src="static/images/pic03.png" alt="" /></div>
            <div class="content">
              <h3>speed the websites with less data cost</h3>
            </div>
          </section>
        </div>
      </section>

    

    <!-- Footer -->
      <!-- <footer id="footer">
        <ul class="icons">
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Credits: <a href="http://html5up.net">HTML5 UP</a></p>
      </footer> -->

    <!-- Scripts -->
      <script src="static/assets/js/jquery.min.js"></script>
      <script src="static/assets/js/jquery.scrolly.min.js"></script>
      <script src="static/assets/js/skel.min.js"></script>
      <script src="static/assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="static/assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="static/assets/js/main.js"></script>

  </body>
</html>