<!DOCTYPE HTML>
<html>
  <head>
    <title>How to use</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
    h1 {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
      line-height: 1.4em;
    }
    </style>
  </head>
  <body>
      <div style="padding: 20px;">
        <div>
        <h1>0. 有兴趣参与一款更强大的广告屏蔽软件的内测?</h1>
          <p><a href="/test/">查看</a></p>
          <h1>1. 什么是『广告终结者』?</h1>
          <p>广告终结者(AdBlocker)是专为 iOS 9+ 打造的广告拦截软件，采用 iOS 9 最新的广告拦截技术，一键拦截广告，保护隐私，网站加速，节省流量，极大的提升上网体验。</p>
        </div>
        <div>
          <h1>2. 如何联系我们?</h1>
          <p>* 如果您在系统中已有登录邮箱帐号，请直接前往『更多』-『联系我们』</p>
          <p>* 或者直接联系 Email 地址：icodesign.me@gmail.com</p>
          </ul>
        </div>
        <div>
          <h1>3. 如何启用『广告终结者』?</h1>
          <p>只需简单一步:</p>
          <p>** 前往 <strong>iOS 系统 "设置" - "Safari" - "内容拦截者", <strong>打开 "广告终结者"</strong></strong></p>
          <p><img src="/static/images/settings_zh.png" alt="" style="width: 80%;"></p>
          <p><img src="/static/images/first_zh.png" alt="" style="width: 80%;"></p>
          <p><img src="/static/images/second_zh.png" alt="" style="width: 80%;"></p>
          <p><img src="/static/images/third_zh.png" alt="" style="width: 80%;"></p>
          </ul>
        </div>
      </div>
  </body>
</html>