<!DOCTYPE HTML>
<html>
  <head>
    <title>How to use</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
    h1 {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
      line-height: 1.4em;
    }
    </style>
  </head>
  <body>
      <div style="padding: 20px;">
        <div>
          <h1>0. Interested in the internal test of a new powerful ad-blocking app?</h1>
          <p><a href="/test/">Go to</a></p>
          <h1>1. What is AdBlocker?</h1>
          <p>AdBlocker is an ads-blocking app specially designed for iOS 9 which adopts the newest ads-blocking tech in iOS 9. With single tap, AdBlock is capable of blocking various ads, protecting your privary, speeding the websites with less data cost, improving the experience of browsing the internet.</p>
        </div>
        <div>
          <h1>2. How to contact us?</h1>
          <p>If you have signed in any email account in the system，just go to "More" - "Feedback" to contact us</p>
          <p>Or you can directly write an email to icodesign.me@gmail.com</p>
          </ul>
        </div>
        <div>
          <h1>3. How to enable AdBlocker?</h1>
          <p>All you need do is one simple step:</p>
          <p>** Go to <strong>iOS System "Settings" - "Safari" - "Content Blockers", <strong>turn on "AdBlocker"</strong></strong></p>
          <p><img src="/static/images/settings.png" alt="" style="width: 80%;"></p>
          <p><img src="/static/images/first.png" alt="" style="width: 80%;"></p>
          <p><img src="/static/images/second.png" alt="" style="width: 80%;"></p>
          <p><img src="/static/images/third.png" alt="" style="width: 80%;"></p>
          </ul>
        </div>
      </div>
  </body>
</html>