<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Internel Test</title>
</head>
<body>
	<p>For English version, please jump to the second half.</p>

<p>您好，</p>

<p>我是 iOS 应用程序广告终结者(AdBlocker)的开发者。</p>

<p>首页，感谢您使用广告终结者(AdBlocker)并积极地反馈，提出了宝贵的建议。我相信您可能已经注意到了，最近一段时间，我并没有快速地响应您的反馈，对此我感到非常抱歉。原因在于，我正在把全部精力投入在 iOS App 内的广告屏蔽上，即如何去除游戏中的弹窗、浮层广告，如何去除一些视频软件的广告（如优酷，土豆...），且在新应用上线前暂时停止维护广告终结者(AdBlocker)。</p>

<p>现在我很高兴地通知您，目前我已经取得了显著的成果，并将针对性地开启内测（预计在一月份开启）。如果您有兴趣参与这次内测（使用苹果提供的 TestFlight 工具进行测试，具体的使用方式在内测开始后我会提供教程），请回复邮件到 icodesign.me@gmail.com 并提供一些基本信息，回复模板如下：</p>

<p>==================</p>

<p>内测申请：</p>

<p>接收 TestFlight 测试的邮件地址：&nbsp;（建议使用 Apple ID 邮箱，一旦我准备好内测，苹果将向此邮件地址发送内测邀请）</p>

<p>联系方式：（微信、QQ、手机任一）</p>

<p>使用设备：（具体到 iPhone 6s Plus、iPad Mini 3）</p>

<p>有强烈去广告需求的场景：（如使用 xxx App需要屏蔽 xxx 广告等）</p>

<p>您的优势：（如技术背景，热衷参与测试）</p>

<p>未来应用上架付费购买，您能承受的价格：</p>

<p>其它建议：</p>

<p>==================</p>

<p>感谢您的支持！</p>

<p>AdBlocker 开发者敬上</p>

<p>Hi,</p>

<p>I&#39;m the developer of the iOS app - AdBlocker.</p>

<p>First of all, thank you for using AdBlocker and actively providing feedbacks. I&#39;m sorry for not responding to the emails on time, for that I&#39;m dedicating myself to a brand-new app about ad-blocking, which is aimed at blocking the annoying ads in games or some video apps. And I&#39;ll temporarily stop the maintenance of AdBlocker until the new app is launched.</p>

<p>I&#39;m glad to tell you that I&#39;ve made significant progress in developing the new app and will start the internal test soon (next month). If you&#39;re interested in the test, please reply to icodesign.me@gmail.com with some basic information, below is the template:</p>

<p>==================</p>

<p>Apply for the internal test</p>

<p>Email address for receiving the test invitation: (the email address for Apple ID is recommended, once the test is ready, Apple will send an invitation to the the email address)</p>

<p>Devices in use: (iPhone 6s Plus, iPad Min3, and etc.)</p>

<p>In which apps in your device do you need the new app to block ads:&nbsp;</p>

<p>The price you could offer to the new app if it is launched:&nbsp;</p>

<p>Other advices:</p>

<p>==================</p>

<p>Thank you for your support!</p>

<p>Developer of AdBlocker</p>

</body>
</html>